.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

.app-header{
  height:50px;  
  display:flex;
  flex-direction: column;
  background:rgb(232, 232, 232, .5);
  justify-content: center;
}

.app-title a{
  text-decoration: none;
  color:black;
}

.app-title a:hover{
  text-decoration: none;
  color:black;
}

.welcome-container {
  width:60%;
  background-color: beige;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
  border-radius: 30px;
}