h1,h2,h3,h4 {
    margin:0;
}

.card-bg {
    width: 600px;
    height:600px;
    background: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    display: flex;
    flex-direction:row;
    position: relative;
    width:500px;
    height:500px;
    margin:auto;
    top:50px;
    box-shadow: 10px 10px 20px rgb(12, 12, 12, .5);
}

.left-card{
    flex:60%;
}
.right-card{
    flex:40%;
    display:flex;
    flex-direction:column;
}

.stats-card{
    flex:1 1 auto;
    background: #e8ddd0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.stats-card:hover{
    background: #d1c1ad;
}

.stats-card h3{
    text-align: center;
    color: #7a5a30;
    font-weight:500;
}

.stats-card p{
    text-align: center;
    color: #7a5a30;
    font-weight:100;
}

.middle, .bottom {
    margin-top:1px;
    margin-bottom:1px;
}

#profile-photo{
    margin:30px;
    margin-top:50px;
    width: 130px;
    height:auto;
    border-radius: 50%;
}

#profile-name{
    color:#7a5a30;
    font-weight:500;
}

#profile-desc{
    color:#7a5a30;
    font-weight:50;
}

.profile-button-wrapper{
    margin-top:40px;
}

#profile-button{
    margin:auto;
    margin-top:8px;
    font-weight: bold;
    display:block;
    width:180px;
    height:50px;
    border-radius: 30px;
    border-color: #7a5a30;
    color:#7a5a30;
    transition: .3s;
}

#profile-button:hover{
    color:white;
    background-color: #7a5a30;
}
