.guest-wrapper{
    display:flex;
    flex-direction: column;
}

.guest-form{
    flex:30%;
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.guest-form input{
    margin-top:10px;
    width:40%;
    font-size:18px;
    border-radius: 20px;
    border:1px solid black;
}

.guest-form textarea{
    margin-top:10px;
    width: 40%;
    resize:none;
    font-size:18px;
    border-radius: 20px;
}

.guest-form button{
    width: 80px;
    height:40px;
    font-size:18px;
    border-radius: 20px;
}


.guest-book{
    margin-top:20px;
    flex:70%;
}

.posts{
    display:flex;
    flex-direction: row;
}

.post-card{
    flex:25%;
    max-width:25%;
    display:flex;
    flex-direction: column;
}

.post-card h4{
    padding:5px;
}

.post-card span{
    padding:5px;
    font-weight:100;
    color:rgb(122, 122, 122);
}
